.form-bubble {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  -moz-box-shadow:2px 2px 4px #2c2c2c;
  -webkit-box-shadow:2px 2px 4px #2c2c2c;
  box-shadow:2px 2px 4px #2c2c2c;
  background-color:#FFFFFF;
  border:1px solid #b9c0c5;
  display:none;
  height:auto;
  width:auto;
  padding:16px;
  margin-right:14px;
  position:absolute;
}
.form-bubble .form-bubble-pointer-top-right, .form-bubble .form-bubble-pointer-top{
    background-repeat:no-repeat;
    height:13px;
    position:absolute;
    width:14px;
}
.form-bubble .form-bubble-pointer-top-right{
  top:8px;
}
.form-bubble{

}
.form-bubble .form-bubble-pointer-top-right{
    left:-14px;
    background-image: url('../images/form-bubble-pointer-top-right.png');
}
.form-bubble .form-bubble-pointer-top{
    background:transparent url('../images/form-bubble-pointer-top.png');
    bottom:-30px;
    left:50%;
    margin-left:-16px;
    width:33px;
    height:30px;
}
.form-bubble .form-bubble-close{
    background:#fff url('../images/close_button.png') no-repeat;
    cursor:pointer;
    height:10px;
    position:absolute;
    right:5px;
    top:5px;
    width:10px !important;
}